<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/./css/styles-leitor.css">

    <title></title> 
  </head>
  <body>
    <header id="cabecalho" alt="cabecalho">
      <p class="font-weight-bold" style="font-family:'Berkshire Swash'; color: rgb(0, 0, 0); font-size: 48px; border-color: tomato; border-left: 2px; "><img src="/./images/icons8-livros-100.png"> WaysBooks</p>
      <nav>
      <ul>
            <li><a href="principal">Menu</a></li>
            <li><a href="/">Livros</a></li>
            <li><a href="visualizarEmprestimo">Empréstimo</a></li>
        </ul>
        </nav>
    </header>
<br>
<h2>Cadastro do Leitor</h2>
<br>

<div class="table-responsive">
    <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Sobrenome</th>
            <th scope="col">Data de Nasc</th>
            <th scope="col">Bairro</th>
            <th scope="col">Rua</th>
            <th scope="col">Número</th>
            <th scope="col;">Telefone</th>
            <th scope="col">Email</th>
            <th scope="col">Ação</th>
            <th scope="col">Ação</th>
            <th scope="col">  <a href="leitor" style="color: black;"  class="btn btn-warning btn-sm btn-lg active"  role="button" aria-pressed="true"><img src="/./images/icons8-mais-100.png" style="width:50px; height:auto">Novo</a>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Maria</td>
            <td>Lima</td>
            <td >12/03/1999</td>
            <td>Centro</td>
            <td>José Guitierres</td>
            <td>2180</td>
            <td>16995988077</td>
            <td>marialima@gmail.com</td>
            <td>
              <button type="submit" class="btn btn-info">Editar</button>
          </td>
          <td>
              <button type="submit" class="btn btn-danger">Excluir</button>
          </td>
          <td>
        </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Alice</td>
            <td>Silva</td>
            <td>23/01/2000</td>
            <td>Estação</td>   
            <td>José Costa</td>
            <td>2180</td>
            <td>16999984066</td>
            <td>silva@gmail.com</td>
            <td>
              <button type="submit" class="btn btn-info">Editar</button>
          </td>
          <td>
              <button type="submit" class="btn btn-danger">Excluir</button>
          </td>
          <td>
        </td>
          </tr>
          <th scope="row">3</th>
          <td>José</td>
          <td>Costa</td>
          <td>14/09/1987</td>
          <td>Centro</td>
          <td>José Guitierres</td>
          <td>2189</td>
          <td>169988866657</td>
          <td>josecostaa@gmail.com</td>
          <td>
            <button type="submit" class="btn btn-info">Editar</button>
        </td>
        <td>
            <button type="submit" class="btn btn-danger">Excluir</button>
        </td>
        <td>
      </td>
        </tr>
        </tbody>
      </table>
</div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
<footer>
  Copyright 2021 - todos os direitos reservados para WaysBooks
</footer>

    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>